button {
    margin: 20px;
    text-align: center;
    width: 150px;
    height: 30px;
}

#container {
    text-align: center;
}

.row {
    clear: both;
}

.cell {
    border: 1px solid black;
    float: left;
}

.hover {
    background-color: yellow;
}
